#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-content {
  display: flex;
  height: 80vh; /* Smanjeno da ostavi prostor za unos poruka ispod */
  width: 100%;
}

.sidebar {
  flex: 1;
  border-right: 1px solid #ddd;
  padding: 1rem;
  overflow-y: auto;
}

.messages-container {
  flex: 2;
  padding: 1rem;
  overflow-y: auto;
}

.right-sidebar {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Poravnano prema vrhu */
}

.input-container {
  width: 75%; /* Prošireno da zauzima veći dio širine */
  padding: 1rem;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
}

.welcome-message {
  margin-bottom: 1rem;
}
