.login-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.login-container form {
  width: 100%;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.color-picker {
  display: flex;
  align-items: center;
}

.boja-label {
  color: var(--label-color);
  margin-right: 0.5rem;
}

.color-picker input[type="color"] {
  width: 70px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.p-4.border.rounded {
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
