@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-image: url("./assets/bgimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; /* disable scrolanje */
  height: 100vh;
}
.h-full {
  height: 100%;
}
.Messages-container {   /* fix za Y scrolling da ne bude overflow na y osi */
  max-height: 70vh;
  overflow-y: auto;
}
